body{
    background-color: #A7F432;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#game-board{
    background-color: #90EE90 ;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
}
.snake{
    background-color: #1D4ED8;
    border: 0.25vmin solid black;
}
.food{
    background-color: #FBBF24;
    border: 0.25vmin solid black;
}